html {
  scroll-behavior: smooth;
}


/* Stel de globale font in */
body {
  font-family: 'Outfit', sans-serif; /* Gebruik de gewenste font hier */
}

/* Je kunt ook de gehele site resetten voor consistentie */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif; /* Zorg dat de font overal wordt toegepast */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Floating buttons for WhatsApp and Email */
.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.floating-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* Smaller size for desktop */
  height: 60px; /* Smaller size for desktop */
  border-radius: 50%;
  color: white;
  font-size: 1.5rem; /* Smaller icon size */
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* WhatsApp Button */
.whatsapp-btn {
  background-color: #25D366; /* WhatsApp green */
}

.whatsapp-btn:hover {
  background-color: #1DA851;
}

/* Email Button */
.email-btn {
  background-color: #007BFF; /* Email blue */
}

.email-btn:hover {
  background-color: #0056b3;
}

/* Responsive Design for Tablet */
@media (max-width: 1024px) {
  .floating-buttons a {
    width: 50px;  /* Smaller on tablet */
    height: 50px; /* Smaller on tablet */
    font-size: 1.3rem; /* Smaller icon size for tablet */
  }
}

/* Responsive Design for Mobile - Larger Buttons */
@media (max-width: 768px) {
  .floating-buttons a {
    width: 55px;  /* Vergroot de grootte op mobiele apparaten */
    height: 55px; /* Vergroot de grootte op mobiele apparaten */
    font-size: 1.4rem; /* Vergroot de grootte van het icoon */
  }

  .floating-buttons {
    bottom: 20px;  /* Pas de positie van de knoppen aan */
    right: 20px;   /* Pas de positie van de knoppen aan */
  }
}

